//Colors
//Primary
$rojoOxido: rgba(153, 34, 17, 1);
$azulOxido: rgba(30, 36, 120, 1);

//Secondary
$pinkOxido: rgba(238, 53, 65, 1);
$rojoOpaco: rgba(153, 34, 17, .7);
//Neutral
$white: rgba(255,255,255, 1);
$dark: rgba(0, 0, 0, 1);
$grey: rgba(84, 74, 74, 1);
$lightGrey: rgba(135, 119, 119, 1);


//Backgrounds
$bg-primary: rgba(247, 245, 245, 1);
$bg-secondary: rgba(239, 235, 235, 1);

//Fonts
//Mobile
$font-sm: 0.75rem;
$font-xsm: .5rem;
$font-nm: 0.875rem;
$font-lg: 1.25rem;
$font-xlg: 2rem;
$font-xxlg: 2.75rem;
$font-xxxlg-dt: 3.5rem;

//Desktop
$font-sm-dt: 0.875rem;
$font-xsm-dt: 0.75rem;
$font-nm-dt: 1rem;
$font-lg-dt: 1.75rem;
$font-xlg-dt: 2.5rem;
$font-xxlg-dt: 3rem;
$font-xxxlg-dt: 4rem;

