<div class="buttons flex flex-jc-c">
  <span class="anuncios__button activo" data-number="-1"> &laquo;</span>
  <span class="anuncios__button activo">1</span>
  <span class="anuncios__button">2</span>
  <span class="anuncios__button">...</span>
  <span class="anuncios__button">10</span>
  <span class="anuncios__button disabled" data-number="+1"> &raquo;</span>
</div>