<head>
	<meta charset="UTF-8" />
	<meta name="robots" content="Index" />
	<meta name="robots" content="follow" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%- title %></title>
	<% if(description) { %>
	<meta name="description" content="<%- description %>" />
	<% } %>
	<meta name="author" content="Oladeg" />
	<meta name="copyright" content="Oladeg" />
	<link rel="icon" href="/dist/icons/favicon.ico" type="image/x-icon" />
	<link
		rel="shortcut icon"
		href="/dist/icons/favicon.ico"
		type="image/x-icon"
	/>
	<link rel="stylesheet" href="/dist/css/style.css" />
	<script
		src="https://kit.fontawesome.com/2c36e9b7b1.js"
		crossorigin="anonymous"
	></script>
</head>
