<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= nombrePagina %>&#8211; OLADEG</title>
<!-- Google Font: Source Sans Pro -->
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
/>
<!-- Font Awesome -->
<link
    rel="stylesheet"
    href="/adminlte/plugins/fontawesome-free/css/all.min.css"
/>
<!-- icheck bootstrap -->
<link
    rel="stylesheet"
    href="/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
/>
<!-- Theme style -->
<link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css" />

<!-- Quill Theme-->
<link
    href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
    rel="stylesheet"
/>
<!-- <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet"> -->

<style>
    .large-pdf-libro{
        display: none;
    }
    @media only screen and (min-width: 640px){
        .large-pdf-libro{
            display: initial;
        }
        .small-pdf-libro{
            display: none;
        }
    } 
</style>