<div class="formas-de-pago__item">
  <div class="formas-de-pago__image">
    <img src="/images/bbva.jpg" alt="BBVA Banco de la Nación">
  </div>
  <div class="formas-de-pago__text">
    <h3 class="formas-de-pago__banco">Banco BBVA</h3>
    <p class="formas-de-pago__ahorro">Cta. Ahorros:</p>
    <p class="formas-de-pago__nombre-cuenta">OLADEG-Perú</p>
    <button type="button" class="button formas-de-pago__button forma1">Nº 0011-0970-0200109397</button>
    <p class="formas-de-pago__advertencia">HAZ CLICK AQUÍ PARA COPIAR ☝</p>
  </div>
</div>