<div class="anuncio__buttons">
  <a href="<%= `${protocol}://${host}/anuncio/convocatoria-de-supervisor-en-farmacia` %>" role="link" class="anuncio__button anuncio__button--before" title="Convocatoria de Supervisor en Farmacia | Oladeg">
    <span>&lt;</span>
    <p>Convocatoria de Supervisor en Farmacia</p>
  </a>
  <a href="<%= `${protocol}://${host}/anuncio/70%-descuento:-curso-implementación-del-sistema-de-gestión-de-seguridad-y-salud-ocupacional-en-minería` %>" role="link" class="anuncio__button anuncio__button--after" title="70% Descuento: Curso Implementación del Sistema de Gestión de Seguridad y Salud Ocupacional en Minería | Oladeg">
    <p>70% Descuento: Curso Implementación del Sistema de Gestión de Seguridad y Salud Ocupacional en Minería</p>
    <span>&gt;</span>
  </a>
</div>