.cursos__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 2rem; }

.cursos__image img {
  width: 100%; }
