.hero__course {
  position: relative; }
  .hero__course img {
    width: 100%; }

.hero__title {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
